body {
    padding: 10px;
}



h1 {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

img {
    height: 300px;
    width: 400px;
    border-radius: 5%;
}

.pan,
.chick {
    display: flex;
    justify-content: flex-start;
}


.img-link {
    background-color: #548CA8;
    height: 380px;
    width: 480px;
    margin: 40px;
    padding: 40px;
    border-radius: 5%;
    box-sizing: border-box;

}

.link-para {
    align-self: center;
}


h2 {
    margin: 60px;
}

ul {
    margin-left: 40px;
}

#Spinach,
#Okra,
#pumpkin {
    box-sizing: border-box;
    padding: 40px;
    font-family: 'Times New Roman', serif;
    font-size: large;

}